*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: aliceblue;
    font-family: sans-serif;
}
.button{
    background-color: pink;
    padding: 20px 40px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    color: #000;
    position: relative;
    overflow: hidden;
}
span{
    position: relative;
    z-index: 1;
}
.button::before{
    content: "";
    position: absolute;
    background-color: orangered;
    width: 0;
    height: 0;
    left: var(--xPos);
    top: var(--yPos);
    border-radius: 50%;
    transform: translate(-50%,-50%);
    transition: 0.5s;
}
.button:hover::before{
    height: 300px;
    width: 300px;
}